<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Otsikko</title>
    </head>

    <body>
        <h1>Hei maailma!</h1>

        <h2 th:text="${teksti}">testi</h2>
        
        <p th:each="alkio : ${lista}">
    		<span th:text="${alkio}">hello world!</span>
		</p>
		
		<ul>
    		<li th:each="alkio : ${lista}">
        		<span th:text="${alkio}">hello world!</span>
    		</li>
		</ul>
		
		<h2 th:text="${henkilo.nimi}">Henkilön nimi</h2>
		
		<p>Ja huomenna puheet pitävät:</p>
		<ol>
    		<li th:each="henkilo : ${list}">
        		<span th:text="${henkilo.nimi}">Esimerkkihenkilö</span>
    		</li>
		</ol>
    </body>
</html>